/* Jerarquia BEM para aplicación de los estilos */ SOLO REFERENCIA

/* Colores globales  */
:root {
    --color primario: #1A2530;
    /* color azul marino */
    --color secundario: #2ECC71;
    /* color verde para los botones */
    --color gris claro: #F8F9FA;
    /* color claro para el fondo de la seccion HERO */
    --color gris oscuro: #E0E0E0;
    /* color gris para el uso de las tarjetas 1 y 3 */
    --color gris: #333333;
    /* color gris oscuro para los textos */
    --color blanco: #FFFFFF;
    /* blanco para los fondos */
    --fuente principal: "Inter", sans serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "inter";
    color: #333333;
    line-height: 1.8px;
}



a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}


/* Componentes globales de uso reutilizable (BOTONES) */
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.btn--primary {
    background-color: #2ECC71;
    color: white;
    padding: 14px 32px;
}

.btn--secundary {
    background-color: #2ECC71;
    color: white;
    top: 400px;
    left: 100px;
    position: absolute;
}

/* Componente Header */
.header {
    background-color: rgb(217, 217, 217);
    padding: 20px 80px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header_logo {
    font-size: 22px;
    font-family: Impact;
    font-weight: 800;
    color: rgb(26, 37, 48)
}

.header_menu {
    display: flex;
    gap: 40px;
}

.header_link {
    font-size: 15px;
    color: var(--color-texto-mutado);
    font-style: italic;
}

/* Componente HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 80px auto 0 auto;
    padding: 0 80px;
    gap: 60px;
}

.hero_text-container {
    flex: 1;
    max-width: 600px;
}

.hero_title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 20px;
}


p {
    line-height: 1.5;
}

.hero_subtitle {
    position: absolute;
    font-size: 18px;
    left: 97px;
    top: 300px;
}


/* Componente Mockup (ELEMENTO VISUAL DERECHO)*/

.hero_mockup {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero_mockup-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gris-tarjeta);
    width: 480px;
    height: 360px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    font-size: 120px;
    color: var(--color-blanco);
}

/* Componente FEATURES */
.features {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.features_title {
    font-size: 32px;
    color: var(--color-primario);
    font-weight: 700;
}

.features_grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto 100px auto;
    padding: 0 40px;
}

/* Componente TARJETAS 1 y 3 (internas e independientes) */
.card {
    background-color: #F8F9FA;
    border-radius: 12px;
    padding: 40px 30px;
    flex: 1;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_icon-holder {
    width: 50px;
    height: 50px;
    background-color: #555555;
    border-radius: 50%;
    margin-bottom: 25px;
}

.card_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-primario);
}

.card_text {
    font-size: 15px;
    color: #495057;
}

/* Componente TARJETA 2 (MODIFICADOR BEM) */
.card--featured {
    background-color: #1A2530;
    color: var(--color-blanco);
    border-radius: 12px;
    padding: 40px 30px;
    flex: 1;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_icon--holder {
    width: 50px;
    height: 50px;
    background-color: #555555;
    border-radius: 50%;
    margin-bottom: 25px;
}

.card_title--features {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card_text--features {
    color: white;
    font-size: 15px;
}



/* Componente FOOTER */
.footer_container {
    background-color: rgb(26, 37, 48);
    padding: 40px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #E5E5E5;
    color: white;

}


.footer_link {
    color: #FFFFFF;
    text-decoration: underline;
}