/* Variables Globales SASS  */
$color-primario: #1A2530;
$color-secundario: #2ECC71;
$color-gris-claro: #F8F9FA;
$color-gris-oscuro: #E0E0E0;
$color-gris: #333333;
$color-blanco: #FFFFFF;
$fuente-principal: "Inter", sans-serif;

/*  Estilos Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: $fuente-principal;
    color: $color-gris;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

/*  Componentes Reutilizables (Botones) */
.btn {
    display: inline-block;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;

    &--primary {
        background-color: $color-secundario;
        color: white;
        padding: 14px 32px;
    }

    &--secundary {
        background-color: $color-secundario;
        color: rgb(255, 255, 255);
        top: 400px;
        left: 100px;
        position: absolute;
    }
}


/*  Componente Header */
.header {
    background-color: rgb(217, 217, 217);
    padding: 20px 80px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    &_logo {
        font-size: 22px;
        font-family: Impact, sans-serif;
        font-weight: 800;
        color: rgb(26, 37, 48);
    }

    &_menu {
        display: flex;
        gap: 40px;
    }

    &_link {
        font-size: 15px;
        color: $color-gris;
        font-style: italic;
    }
}

/*  Componente HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 80px auto 0 auto;
    padding: 0 80px;
    gap: 60px;

    &_text-container {
        flex: 1;
        max-width: 600px;
    }

    &_title {
        font-size: 46px;
        font-weight: 700;
        line-height: 1.15;
        margin-bottom: 20px;
    }

    &_subtitle {
        position: absolute;
        font-size: 18px;
        left: 97px;
        top: 300px;
    }

    &_mockup {
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    &_mockup-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-gris-oscuro;
        width: 480px;
        height: 360px;
        border-radius: 16px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
        font-size: 120px;
        color: $color-blanco;
    }
}

/*  Componente FEATURES */
.features {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;

    &_title {
        font-size: 32px;
        color: $color-primario;
        font-weight: 700;
    }

    &_grid {
        display: flex;
        justify-content: center;
        gap: 30px;
        max-width: 1200px;
        margin: 50px auto 100px auto;
        padding: 0 40px;
    }
}

/*  Componente TARJETAS */
.card {
    background-color: #F8F9FA;
    border-radius: 12px;
    padding: 40px 30px;
    flex: 1;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;

    &_icon-holder {
        width: 50px;
        height: 50px;
        background-color: #555555;
        border-radius: 50%;
        margin-bottom: 25px;
    }

    &_title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        color: $color-primario;
    }

    &_text {
        font-size: 15px;
        color: #495057;
    }

    /* Modificador de Tarjeta Destacada con anidamiento limpio */
    &--featured {
        background-color: #1A2530;
        color: $color-blanco;

        .card_icon--holder {
            background-color: #555555;
        }

        .card_title--features {
            color: white;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .card_text--features {
            color: white;
            font-size: 15px;
        }
    }
}

/* Componente FOOTER */
.footer {
    &_container {
        background-color: rgb(26, 37, 48);
        padding: 40px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        border-bottom: 1px solid #E5E5E5;
        color: white;
    }

    &_link {
        color: #FFFFFF;
        text-decoration: underline;
    }
}