/* Variables Globales SASS  */
$color-primario: #1A2530;
$color-secundario: #2ECC71;
$color-gris-claro: #F8F9FA;
$color-gris-oscuro: #E0E0E0;
$color-gris: #333333;
$color-blanco: #FFFFFF;
$fuente-principal: "Inter", sans-serif;