/* Colores globales  */
:root {
    --color primario: #1A2530;
    /* color azul marino */
    --color secundario: #2ECC71;
    /* color verde para los botones */
    --color gris claro: #F8F9FA;
    /* color claro para el fondo de la seccion HERO */
    --color gris oscuro: #E0E0E0;
    /* color gris para el uso de las tarjetas 1 y 3 */
    --color gris: #333333;
    /* color gris oscuro para los textos */
    --color blanco: #FFFFFF;
    /* blanco para los fondos */
    --fuente principal: "Inter", sans serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "inter";
    color: #333333;
    line-height: 1.8px;
}


a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}
