/* Componente TARJETAS 1 y 3 (internas e independientes) */
.card {
    background-color: #F8F9FA;
    border-radius: 12px;
    padding: 40px 30px;
    flex: 1;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_icon-holder {
    width: 50px;
    height: 50px;
    background-color: #555555;
    border-radius: 50%;
    margin-bottom: 25px;
}

.card_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--color-primario);
}

.card_text {
    font-size: 15px;
    color: #495057;
}

/* Componente TARJETA 2 (MODIFICADOR BEM) */
.card--featured {
    background-color: #1A2530;
    color: var(--color-blanco);
    border-radius: 12px;
    padding: 40px 30px;
    flex: 1;
    max-width: 360px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card_icon--holder {
    width: 50px;
    height: 50px;
    background-color: #555555;
    border-radius: 50%;
    margin-bottom: 25px;
}

.card_title--features {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.card_text--features {
    color: white;
    font-size: 15px;
}