/* Componente FEATURES */
.features {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.features_title {
    font-size: 32px;
    color: var(--color-primario);
    font-weight: 700;
}

.features_grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto 100px auto;
    padding: 0 40px;
}