/* Componente Header */
.header {
    background-color: rgb(217, 217, 217);
    padding: 20px 80px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header_logo {
    font-size: 22px;
    font-family: Impact;
    font-weight: 800;
    color: rgb(26, 37, 48)
}

.header_menu {
    display: flex;
    gap: 40px;
}

.header_link {
    font-size: 15px;
    color: var(--color-texto-mutado);
    font-style: italic;
}