/* Componente HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 80px auto 0 auto;
    padding: 0 80px;
    gap: 60px;
}

.hero_text-container {
    flex: 1;
    max-width: 600px;
}

.hero_title {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 20px;
}



.hero_subtitle {
    position: absolute;
    font-size: 18px;
    left: 97px;
    top: 300px;
}


/* Componente Mockup (ELEMENTO VISUAL DERECHO)*/

.hero_mockup {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero_mockup-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-gris-tarjeta);
    width: 480px;
    height: 360px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    font-size: 120px;
    color: var(--color-blanco);

}