/* Estilos Base - Tipografías y etiquetas generales */
body {
    background-color: white;
    font-family: $fuente-principal;
    color: $color-gris;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

p {
    line-height: 1.5;
}

