/* Componente Header */
.header {
    background-color: rgb(217, 217, 217);
    padding: 20px 80px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;



    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    &_logo {
        font-size: 22px;
        font-family: Impact, sans-serif;
        font-weight: 800;
        color: rgb(26, 37, 48);
    }


    &_menu {
        display: flex;
        gap: 40px;
    }

    &_link {
        font-size: 15px;
        color: $color-gris;
        font-style: italic;
    }
}

/* MEDIA QUARIES PARA PANTALLAS IPHONE 16 */

@media (max-width: 768px) {

    .header {
        padding: 16px 24px;
        /* Espaciado idéntico a Figma */
        width: 100%;
        box-sizing: border-box;
    }

    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* Logo a la izquierda, Hamburguesa a la derecha */
        align-items: center;
        width: 100%;
    }

    .header_logo {
        font-size: 20px;
    }

}